.panel {
    margin-top: 20px !important;
    border: 1.5px solid #222;
}

.panel-heading {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #9d9d9d;
    border-radius: unset;
    background-color: #222222;
    font-size: 17px;
}

.panel-body {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;
    text-align: center;
    padding: 15px;
    height: auto;
}
