table {
    margin-bottom: 5px !important;
}

    table th {
        text-align: center;
        white-space: nowrap;
    }

.last-td {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: unset !important;
}

#view-form-group #info-dialog {
    width: 1000px;
}

#view-form-discipline .last-th {
    width: 100px;
}

#view-form-discipline #create-dialog, #view-form-discipline #edit-dialog {
    width: 800px;
}

#view-form-info .last-th, #view-form-group .last-th {
    width: 70px !important;
}